/*****************************************/


/*Font*/

@font-face {
    font-family: "quicksandlight";
    src: url('./font/quicksand_book-webfont.woff2') format('woff2'), url("./font/quicksand_book-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


/* clases relativas a contenedores       */

#pagina {
    position: absolute;
    /*background-image: url("../img/empanadas.jpeg"); /* The image */
    /*background-position: center; /* Center the image */
    /*background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    /*background-color: #1e7891;*/
    background-color: #ffffff;
    font-family: quicksandlight;
    font-size: 14pt;
    left: 0%;
    width: 100%;
}

#zonaLogo {
    position: absolute;
    top: 0em;
    left: 0em;
    width: 20%;
    height: 150px;
    background-color: #4c4c4c;
    text-align: center;
    vertical-align: middle;
}

#zonaMenu {
    position: absolute;
    top: 150px;
    left: 0em;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

#zonaContenido {
    position: relative;
    top: 0em;
    left: 0%;
    width: 100%;
    height: 100%;
}

#localizacion {
    position: relative;
    top: 3%;
    left: 0%;
    width: 100%;
}

#tituloForm {
    position: relative;
    top: 4%;
    left: 0%;
    width: 100%;
}

#tituloForm2 {
    position: relative;
    top: 4%;
    left: 0%;
    width: 100%;
}

#frmBusqueda {
    position: relative;
    margin-top: 20pt;
    top: 15%;
    left: 0%;
    width: 100%;
    background-color: #ffffff;
    border-top: solid 1px #ffffff;
    border-left: solid 1px #ffffff;
    border-right: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;
}

#frmBusqueda2 {
    position: relative;
    top: 5%;
    left: 0%;
    width: 100%;
    background-color: #ffffff;
    border-top: solid 1px #ffffff;
    border-left: solid 1px #ffffff;
    border-right: solid 1px #696969;
    border-bottom: solid 1px #696969;
}

#cuadroTotales {
    position: relative;
    top: 5%;
    background-color: #f5f5f5;
    border-top: solid 1px #ffffff;
    border-left: solid 1px #ffffff;
    border-right: solid 1px #696969;
    border-bottom: solid 1px #696969;
}

#frmBusqueda li {
    list-style-image: url(../img/error2.png);
    color: #000;
    text-transform: uppercase;
    text-align: left;
    height: 20px;
    vertical-align: middle;
}

button {
    padding: 3px 2px 3px 2px;
    margin-bottom: 10px;
    margin-right: 10px;
}

button>img {
    height: 16px;
    width: 16px;
}

button>span {
    text-size-adjust: 8px;
}


/* Add this to align vertically */

button>img,
button>span {
    vertical-align: middle;
}

#botonBusqueda {
    position: relative;
    top: 5%;
    left: 0%;
    width: 100%;
    text-align: right;
    margin-top: .5em;
    padding-top: 1em;
    margin-right: .5em;
    border-bottom: solid 1px #083b66;
}

#botonCerrar {
    position: relative;
    top: 5%;
    left: 0%;
    width: 100%;
    text-align: right;
    margin-top: .5em;
    padding-top: 1em;
    margin-right: .5em;
    /*	border-top:solid 1px #696969;	*/
}

#lineaResultado {
    position: relative;
    top: 10%;
    left: 0%;
    width: 100%;
    height: auto;
}

#cabeceraResultado {
    position: relative;
    top: 11%;
    left: 0%;
    width: 100%;
}

#cabeceraResultado2 {
    position: relative;
    top: 11%;
    left: 0%;
    width: 100%;
}

.totalResultado {
    background-color: #ff8c00;
    color: #ffffff;
}


/* Pagination text*/

.paginar {
    color: #ff8c00;
}

#frmResultado {
    position: relative;
    top: 11%;
    left: 0%;
    width: 100%;
    /*
	background-color:#f5f5f5;
	border-top:solid 1px #ffffff;
	border-left:solid 1px #ffffff;
	border-right:solid 1px #696969;
	border-bottom:solid 1px #696969;
*/
}


/*****************************************/


/* clases relativas a tablas             */

.header {
    background-color: #083b66;
    color: #f5f5f5;
    text-transform: uppercase;
    text-align: center;
    height: 30px;
    vertical-align: middle;
}

.mensaje {
    background-color: #FF0000;
    color: ##ffffff;
    text-transform: uppercase;
    text-align: center;
    height: 30px;
    vertical-align: middle;
}

.mensajeminimo {
    background-color: #FF0000;
    color: ##ffffff;
    text-transform: uppercase;
    text-align: center;
    height: 30px;
    vertical-align: middle;
}

.cabeceraTabla {
    background-color: #5f5f5f;
    color: #7aaedc;
    text-align: center;
    text-transform: uppercase;
}

.itemParTabla {
    height: 20pt;
    background-color: #e4e4e4ca;
}

.itemImparTabla {
    height: 20pt;
    background-color: #ffffff;
}


/*****************************************/


/* clases relativas a hiperenlace        */

a:link {
    font: 10pt quicksandlight;
    color: #000;
}

a:visited {
    font: 10pt quicksandlight;
    color: #000;
}

a:hover {
    font: 10pt quicksandlight;
    color: #ff8c00;
}


/*****************************************/


/* clases relativas a la fuente de texto */

.fuente8 {
    font: 10pt quicksandlight;
}

.aDerecha {
    text-align: right;
}

.aCentro {
    text-align: center;
}


/*****************************************/


/* clases relativas a objetos            */

.fullwidth {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    display: block;
    text-align: center;
    /*This will result in centering the link text, which is probably what you want -brianjohnsondesign.com*/
}

.boton {
    color: #000;
    background-color: #ffffff;
    border-radius: 3px;
    border-style: solid;
    border-color: #696969;
    border-width: 1px 1px 1px 1px;
    font: bold 10pt quicksandlight;
    text-transform: lowercase;
    width: 90px;
    height: 20pt;
}

.botonprov {
    color: #000;
    background-color: #ffffff;
    border-radius: 3px;
    border-style: solid;
    border-color: #696969;
    border-width: 1px 1px 1px 1px;
    font: bold 10pt quicksandlight;
    text-transform: lowercase;
    width: 130px;
    height: 20pt;
}

.cajaMediana {
    background-color: #ffffff;
    font: 10pt quicksandlight;
    color: #000;
    width: 100px;
    border-radius: 3px;
    border-color: #7aaedc;
    border-style: solid;
    border-width: 1px;
    height: 20pt;
    padding: 3px 2px 3px 2px;
}

.cajaPequena {
    background-color: #ffffff;
    font: 10pt quicksandlight;
    color: #000;
    width: 75px;
    border-radius: 3px;
    border-color: #7aaedc;
    border-style: solid;
    border-width: 1px;
    height: 20pt;
    padding: 3px 2px 3px 2px;
}

.cajaPequena2 {
    background-color: #ffffff;
    font: 10pt quicksandlight;
    color: #000;
    width: 55px;
    border-radius: 3px;
    border-color: #7aaedc;
    border-style: solid;
    border-width: 1px;
    height: 20pt;
    padding: 3px 2px 3px 2px;
}

.cajaMinima {
    background-color: #ffffff;
    font: 10pt quicksandlight;
    color: #000;
    width: 30px;
    border-radius: 3px;
    border-color: #7aaedc;
    border-style: solid;
    border-width: 1px;
    height: 20pt;
    padding: 3px 2px 3px 2px;
}

.cajaTotales {
    background-color: #FFD9B3;
    font: 10pt quicksandlight;
    color: #000;
    width: 75px;
    border-radius: 3px;
    border-color: #696969;
    border-style: solid;
    border-width: 1px;
    height: 20pt;
    text-align: right;
}

.cajaMedia {
    background-color: #ffffff;
    font: 10pt quicksandlight;
    text-transform: uppercase;
    color: #000;
    width: 150px;
    border-radius: 3px;
    border-color: #7aaedc;
    border-style: solid;
    border-width: 1px;
    height: 20pt;
}

.cajaGrande {
    background-color: #ffffff;
    font: 10pt quicksandlight;
    text-transform: uppercase;
    color: #000;
    width: 250px;
    border-radius: 3px;
    border-color: #7aaedc;
    border-style: solid;
    border-width: 1px;
    height: 20pt;
}

.cboUnidadmedida {
    background-color: #ffffff;
    font: 10pt quicksandlight;
    color: #000;
    width: 80px;
    border-radius: 3px;
    border-color: #7aaedc;
    border-style: solid;
    border-width: 1px;
    height: 20pt;
}

.comboPequeno {
    background-color: #ffffff;
    font: 10pt quicksandlight;
    color: #000;
    width: 75px;
    border-radius: 3px;
    border-color: #7aaedc;
    border-style: solid;
    border-width: 1px;
    height: 20pt;
}

.comboMedio {
    background-color: #ffffff;
    font: 10pt quicksandlight;
    color: #000;
    width: 150px;
    border-radius: 3px;
    border-color: #7aaedc;
    border-style: solid;
    border-width: 1px;
    height: 20pt;
}

.comboGrande {
    background-color: #ffffff;
    font: 10pt quicksandlight;
    color: #000;
    width: 250px;
    border-radius: 3px;
    border-color: #7aaedc;
    border-style: solid;
    border-width: 1px;
    height: 20pt;
}


/************************************************************************/


/* Clase switch */

.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 18px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 1;
    left: 0;
    right: 1;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 0px;
    bottom: 0px;
    background-color: #7aaedc;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ffffff;
}


/*input:focus+.slider {
    box-shadow: 0 0 2px #1e7891;
}*/

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20x);
    transform: translateX(20px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 20px;
    border-color: #7aaedc;
    border-style: solid;
    border-width: 2px;
}

.slider.round:before {
    border-radius: 50%;
    border-color: #7aaedc;
    border-style: solid;
    border-width: 1px;
}