@font-face {
    font-family: "quicksandlight";
    src: url('./font/quicksand_book-webfont.woff2') format('woff2'), url("./font/quicksand_book-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


/* Create three equal columns that floats next to each other */

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 340px;
    /* Should be removed. Only for demonstration */
}

.column2 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
    
}

.column3 {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 150px;
    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    .column2 {
        width: 50%;
    }
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0 auto;
    -webkit-appearance: none;
    box-sizing: inherit;
}

*::after,
*::before {
    box-sizing: inherit;
}


/*Login-register page */

.loginText {
    color: #000;
    font-size: 18px;
}

.loginTitle {
    align-content: center;
    color: rgb(15, 20, 88);
    font-size: 20px;
}



/*--------------------------------------------*/


/*----Language button-------------------------*/

nav {
    margin: 0;
    background-color: #fff;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    display: inline-block;
    background-color: #fff;
}

nav a {
    display: block;
    padding: 0 10px;
    color: #000;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

nav a:hover {
    background-color: #7aaedc;
    color: fff;
}

nav ul ul {
    display: none;
    position: absolute;
}

nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li {
    width: 230px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 230px;
}

nav ul ul li {
    border: 1px solid white;
}

.d-table ul li {
    display: inline;
}
/*---------------------------------------------------*/

button {
    height: 50px;
    width: 270px;
    cursor: pointer;
    background-color: #e4e4e3;
    /*border: none;*/
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button img {
    height: 16px;
    width: 16px;
}

.bg-transparent {
    background-color: transparent !important;
}

.bg-red {
    background-color: #e74c3c !important;
}

.bg-orange {
    background-color: #e67e22 !important;
}

.bg-green {
    background-color: #2ecc71 !important;
}

body {
    background-color: #fff;
}

body .input-wrapper {
    position: relative;
    width: 80%;
    height: 50px;
    max-width: 270px;
    border-radius: 5px;
    background-color: #ddd;
    overflow: hidden;
}

body .input-wrapper {
    border: none;
    padding: 10px 15px;
    font: small-caption;
    font-size: 18px;
    font-size: 1.8rem;
    width: 100%;
    /*color: #34495e;*/
    outline: none;
    line-height: 1.5;
}

body .password-wrapper {
    position: relative;
    width: 80%;
    max-width: 270px;
    border-radius: 5px;
    background-color: #ddd;
    overflow: hidden;
}

body .password-wrapper .input {
    border: none;
    padding: 10px 15px;
    font: small-caption;
    font-size: 18px;
    font-size: 1.8rem;
    width: calc(100% - 50px);
    /*color: #34495e;*/
    outline: none;
    line-height: 1.5;
    background-color: #ddd;
}

body .password-wrapper .icon-wrapper {
    position: relative;
    /*display: inline;*/
    float: right;
    width: 50px;
    height: 53px;
    z-index: auto;
    /*background-color: #34495e;*/
    /*transition: background-color 0.25s ease-out;*/
    cursor: pointer;
}

.pass {
    background-image: url(../img/viewpass.svg);
}

.view {
    background-image: url(../img/obscurepass.svg);
}


/*
body .password-wrapper .icon-wrapper:hover .pass,
body .password-wrapper .icon-wrapper:hover .view {
    color: #3498db;
    transition: color 0.25s ease-in;
}
*/

body .password-validation-wrapper,
body .email-validation-wrapper {
    position: relative;
    width: 80%;
    max-width: 270px;
    border-radius: 5px;
    background-color: #ddd;
    overflow: hidden;
}

body .password-validation-wrapper .input,
body .email-validation-wrapper .input {
    border: none;
    padding: 10px 15px;
    font: small-caption;
    font-size: 18px;
    font-size: 1.8rem;
    width: calc(100% - 50px);
    /*color: #34495e;*/
    outline: none;
    line-height: 1.5;
    background-color: #ddd;
}

body .password-validation-wrapper .validation-icon-wrapper,
body .email-validation-wrapper .email-validation-icon-wrapper {
    position: relative;
    display: inline;
    float: right;
    width: 50px;
    height: 50px;
    /*background-color: #34495e;*/
    /*transition: background-color 0.25s ease-out;*/
}

.passigual {
    background-image: url(../img/passigual.svg);
}

.passdistinta {
    background-image: url(../img/passdistinta.svg);
}

body .password-wrapper .strength-lines {
    position: relative;
    float: left;
    bottom: 2px;
    left: 0;
    right: 0;
    width: calc(100% - 50px);
    height: 6px;
    z-index: 3;
}

body .password-wrapper .strength-lines .line {
    position: absolute;
    background-color: transparent;
    height: 6px;
    border-radius: 2px;
    transition: background-color 0.25s ease-in;
}

body .password-wrapper .strength-lines .line:not(:first-of-type):not(:last-of-type) {
    left: 33%;
    right: 33%;
}

body .password-wrapper .strength-lines .line:first-of-type {
    left: 4px;
    right: 68%;
}

body .password-wrapper .strength-lines .line:last-of-type {
    left: 68%;
    right: 4px;
}

/* Clase switch */

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 1;
    left: 0;
    right: 1;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 0px;
    background-color: #7aaedc;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ffffff;
}


/*input:focus+.slider {
    box-shadow: 0 0 2px #1e7891;
}*/

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20x);
    transform: translateX(20px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 18px;
    border-color: #7aaedc;
    border-style: solid;
    border-width: 2px;
}

.slider.round:before {
    border-radius: 50%;
    border-color: #7aaedc;
    border-style: solid;
    border-width: 1px;
}
/*tables*/
/*-----------------------------------------------------------------------------------------*/
.header {
    background-color: #083b66;
    color: #f5f5f5;
    text-transform: uppercase;
    text-align: center;
    height: 30px;
    vertical-align: middle;
    font-family: quicksandlight;
    font-size: 14pt;
}

#cabeceraResultado {
    position: relative;
    top: 11%;
    left: 0%;
    width: 100%;
}
.cabeceraTabla {
    background-color: #5f5f5f;
    color: #7aaedc;
    text-align: center;
    text-transform: uppercase;
}
.itemParTabla {
    height: 20pt;
    background-color: #e4e4e4ca;
}

.itemImparTabla {
    height: 20pt;
    background-color: #ffffff;
}
.itemParTablaAAgregar {
    height: 20pt;
    background-color: #e2acac;
}

.itemImparTablaAAgregar {
    height: 20pt;
    background-color: #fcdddd;
}
.d-table {
    min-width: 300px;
    min-height: 300px;
    background: lightgrey;
    display: block;
    width: 1px solid red;
  }
  
  .d-table ul {
    list-style-type: none;
  }
  
  .d-column li {
    padding: 0px;
    display: inline-block;
    border: 1px solid blue;
    background: grey;
    width: 50px;
    height: 20px;
  }
  
  .d-row li {
    padding: 0px;
    display: inline-block;
    background: lightgrey;
    border: 1px solid red;
    width: 50px;
    height: 20px;
  }
  .resCategoria {
   
    background: rgb(120, 131, 141);
    
  }
  .hiden {
    display: none;
}