body {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0px auto;
    font-size: 14px;
    margin-bottom: 0PX
}

#header {
    width: 100%;
    margin-top: 34px;
    margin-left: 0px;
    height: 70px;
    background: #083b66;
    position: fixed;
}

.menu {
    display: none;
}

.menuicon {
    height: 40px;
    width: 40px;
    padding: 10px 13px;
}

#icono {
    background: rgb(48, 38, 46);
    height: 34px;
    width: 50px;
    left: 0px;
    top: 0px;
    display: block;
    float: right;
    padding: 0px;
    position: fixed;
    text-decoration: none;
    transition-duration: 0.5s;
}

.imgicon {
    height: 24px;
    width: 24px;
    padding: 5px 13px;
}

.logo {
    position: fixed;
    height: 60px;
    width: 180px;
    display: block;
    right: 0.5%;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.language {
    height: 60px;
    width: 24px;
    padding: 5px 13px;
}

#left_side {
    width: 100%;
    margin-left: 50px;
    margin-top: 0px;
    height: 34px;
    background: #1e1e1e;
    background-repeat: repeat-y;
    position: fixed;
}

.iconolado {
    padding: 5px 8px;
    height: 24px;
    width: 24px;
}

.iconolado:hover {
    background: grey;
}

#content {
    height: 1000px;
    overflow: auto;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 70px;
    background: #333333;
}

#content_login {
    height: 1000px;
    overflow: auto;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    background: #ffffff;
}

.logo_login {
    margin-top: 100px;
}

#bottombar {
    bottom: 0px;
    width: 100%;
    height: 24px;
    background: #d4d381;
    position: relative;
}

[id^=hamburger] {
    display: none;
}

#page-nav label {
    display: inline-block;
}


/* Break down menu items into vertical */

#page-nav ul li {
    display: block;
}

#page-nav ul li {
    border-top: 1px solid #333;
}


/* Toggle show/hide menu on checkbox click */

#page-nav ul {
    display: none;
}

#page-nav input:checked~ul {
    display: block;
}

[id^=hamburger] ul {
    display: none;
}

[id^=hamburger] input:checked~ul {
    display: block;
}


/* Menu Items */

#page-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
}

#page-nav ul li {
    display: block padding: 20px;
    box-sizing: border-box;
    background: #ccc;
    font-size: 20px;
    color: #000;
}

#page-nav ul li a {
    color: #1e1e1e;
    font-size: 18px;
    text-decoration: none;
}

#page-nav ul:hover {
    background: rgb(211, 94, 94):
}
.hiden {
    display: none;
}