/*Font*/

@font-face {
    font-family: "quicksandlight";
    src: url('./font/quicksand_book-webfont.woff2') format('woff2'), url("./font/quicksand_book-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0px auto;
    font-size: 14px;
    margin-bottom: 0PX
}


/*Login-register page */

.loginText {
    color: #7aaedc;
}

.loginTitle {
    align-content: center;
    color: orange;
}


/*-----------------------------*/


/* Hide Hamburger */

#page-nav label,
[id^=hamburger] {
    display: none;
}

#header {
    color: white;
    width: 100%;
    height: 48px;
    background: #8dcaffaa;
    position: fixed;
}

.menuicon {
    height: 24px;
    width: 24px;
    padding: 5px 13px;
}

#icono {
    /*background: rgb(28, 31, 73);*/
    background: #47494b;
    height: 48px;
    width: 50px;
    display: block;
    float: left;
    padding: 0px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

.imgicon {
    height: 24px;
    width: 24px;
    padding: 12px 13px;
}

.company {
     display: block padding: active;
    box-sizing: border-box;
   /* padding-top: 6px;*/
    padding-left: 15%;
    font-size: 20px;
    color: #ff7f00;
    width: auto;
}

.logo {
    position: fixed;
    height: 34px;
    padding-top: 7px;
    width: auto;
    display: block;
    right: 15px;
    margin-left: auto;
    margin-right: auto;
}

#left_side {
    width: 50px;
    margin-top: 48px;
    height: 100%;
    background: #1e1e1e;
    background-repeat: repeat-y;
    overflow: hidden;
    position: fixed;
}

.iconolado {
    padding: 13px;
    height: 24px;
    width: 24px;

}

.iconolado:hover {
    background: grey;
    border-radius: 5px;
}

#content {
    height: 100%;
    overflow: auto;
    padding: 0px;
    margin-left: 50px;
    margin-right: 0px;
    padding-top: 40px;
    background: #ffffff;
}

#content_login {
    height: 672px;
    overflow: auto;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    background: #333333;
}

.logo_login {
    margin-top: 100px;
}#306c77#306c77

#bottombar {
    width: 100%;
    height: 24px;
    background: #d4d381;
    margin-bottom: 0px;
    position: absolute;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    font: bold 12pt quicksandlight;
    height: 48px;
   
}

nav > div {
    line-height: 48px;
}

ul {
    background: #ffffff00;
    list-style: none;
    margin: 0;
    padding-left: 0;
    width: auto;
    
}

li {
    color: #fff;
    background: #ffffff00;
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.2s;
    padding: 14px 0px 14px 0px;
  
}

li a {
    color: rgb(20, 19, 19);
    padding: 14px 10px 14px 10px;
}

li:hover {
    background: #737473;
    cursor: pointer;
}

ul li ul {
    background: #8dcaff;
    visibility: hidden;
    opacity: 0;
    width: 150px;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 12px;
    left: 0;
    display: none;
}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  
}

ul li ul li {
    clear: both;
    width: 100%;
 
}

ul li ul li:hover {
    background: #737473;
}