body {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0px auto;
    font-size: 14px;
    margin-bottom: 0PX
}


/*Login-register page */

.loginText {
    color: #7aaedc;
}

.loginTitle {
    align-content: center;
    color: orange;
}


/*-----------------------------*/


/* Hide Hamburger */

#page-nav label,
[id^=hamburger] {
    display: none;
}

#header {
    color: white;
    width: 100%;
    height: 34px;
    background: #083b66;
    position: fixed;
}

.menuicon {
    height: 24px;
    width: 24px;
    padding: 5px 13px;
}

#icono {
    /*background: rgb(28, 31, 73);*/
    background: #083b66;
    height: 34px;
    width: 50px;
    display: block;
    float: left;
    padding: 0px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

.imgicon {
    height: 24px;
    width: 24px;
    padding: 5px 13px;
}

.logo {
    position: fixed;
    height: 34px;
    width: 134px;
    display: block;
    right: 15px;
    margin-left: auto;
    margin-right: auto;
}

#left_side {
    width: 50px;
    margin-top: 34px;
    height: 678px;
    background: #1e1e1e;
    background-repeat: repeat-y;
    overflow: hidden;
    position: fixed;
}

.iconolado {
    padding: 13px;
    height: 24px;
    width: 24px;
}

.iconolado:hover {
    background: grey;
}

#content {
    height: 672px;
    overflow: auto;
    padding: 0px;
    margin-left: 50px;
    margin-right: 0px;
    padding-top: 40px;
    background: #333333;
}

#content_login {
    height: 672px;
    overflow: auto;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    background: #333333;
}

.logo_login {
    margin-top: 100px;
}

#bottombar {
    width: 100%;
    height: 24px;
    background: #d4d381;
    margin-bottom: 0px;
    position: absolute;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

ul {
    background: #083b66;
    list-style: none;
    margin: 0;
    padding-left: 0;
    min-width: 150px;
}

li {
    color: #fff;
    background: #083b66;
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.2s;
    padding: 11px 10px 7px 10px;
}

li a {
    color: #fff;
}

li:hover {
    background: #737473;
    cursor: pointer;
}

ul li ul {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 150px;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 6px;
    left: 0;
    display: none;
}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

ul li ul li:hover {
    background: #737473;
}