;Database
server="database"
mainDatabase="ctl4biz"
user="root"
pass="d8d33qq0"
useDefaultDBClient=true
username="ctrl4b"
password="LuHTBe4Rs3K&d4tD44^aH7"
secret="adm13#12wdda#sd%asdasdamjh%%hgjllvkin"